<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yoonsung.nowsale">
    <uses-permission android:name="android.permission.INTERNET" />
    <!--위치정보활용시 추가--><uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--위치정보활용시 추가--><uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--WIFI 상태활용시 추가--><uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--WIFI 상태활용시 추가--><uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-sdk tools:overrideLibrary="android.support.customtabs" />
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/app_logo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:name=".LoadingAnimationApplication"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key"
            />
        <activity
            android:name=".CouponCategoryActivity"
            android:label="지금은할인중"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PopUpActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity android:name=".LoginCancelPopupActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity android:name=".RegisterCompleteDialog"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity android:name=".Dialog"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity android:name=".OkCancelPopUpActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity android:name=".ClientCouponListPopupActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />



        <activity android:name=".ClientMenuActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".OwnerChangeInfo"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".HelpActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".FMainActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".RegisterCouponActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".OwnerInfoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ClientMyInfoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity android:name=".Loading1Activity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity android:name=".SignUpActivity1"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".OwnerRegisterCoupon2"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".OwnerRegisterCoupon3"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".OwnerRegisterCoupon4"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".SignUpActivity2"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".SignUpActivity3"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>