<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<title>점주 메뉴 이미지 삽입</title>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script>

			// click on button submit
		$(document).ready(function () {
			$("#submit").on('click', function(){
				// send ajax
				var form = $('#fileUploadForm')[0];
				var data = new FormData(form);
				$.ajax({
					url: '/all/api/upload/menu', // url where to submit the request
					processData: false,
					contentType : false,
					cache : false,
					enctype: 'multipart/form-data',
					type : "POST", // type of action POST || GET
					data : data,
					timeout: 10000,

					success : function(data) {
						$('#pw').text(data);
					}
				})
			});
		});
		</script>
	</head>
	<body>
		<form id="fileUploadForm" enctype="multipart/form-data" action="" method = post>
			아이디: <input type="text" name="id" id="id"><br>
			메뉴 이름: <input type="text" name="name" id="name"><br>
			메뉴 가격: <input type="text" name="price" id="price"><br>
			<input type="file" name="files"/><br/><br/>
			<input type="file" name="files"/><br/><br/>
			<input id ="submit" type=button name="submit" value="회원가입">
		</form>



	</body>
</html>

<!-- 회원가입 버튼 누르면 다른 곳으로 보내지게끔 하면 될듯??? http 통신을 이용해서! -->